@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-clr-blue-950: hsl(213, 96%, 18%);
    --primary-clr-purple-600: hsl(243, 100%, 62%);
    --primary-clr-blue-300: hsl(228, 100%, 84%);
    --primary-clr-blue-200: hsl(206, 94%, 87%);
    --primary-clr-red-500: hsl(354, 84%, 57%);
    --neutral-clr-grey-500: hsl(231, 11%, 63%);
    --neutral-clr-purple-200: hsl(229, 24%, 87%);
    --neutral-clr-blue-100: hsl(218, 100%, 97%);
    --neutral-clr-blue-50: hsl(231, 100%, 99%);
    --neutral-clr-white: hsl(0, 100%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    position: relative;
}

.input-field {
    font: inherit;
    display: block;
    margin-bottom: 1em;
    margin-top: .5em;
    padding: .7em;
    padding-right: 0;
    width: 100%;
    outline: none;
    border: 1px solid var(--neutral-clr-purple-200);
    border-radius: 5px;
    font-weight: 500;
}

button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
}

h1 + p {
    margin-bottom: 2em;
    margin-top: 1em;
    color: var(--neutral-clr-grey-500);
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--neutral-clr-purple-200);
}

.left-side {
    background-image: url(../public/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 1em;
    height: 10rem;
    color: var(--neutral-clr-white);
    justify-content: center;
    padding-top: 2em;
}

.step-number {
    border: 1px solid var(--neutral-clr-white);
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 1;
    display: grid;
    place-content: center;
}

.step-info {
    display: none;
}

.active-step {
    background-color: var(--neutral-clr-white);
    color: var(--primary-clr-blue-950);
}

.right-side {
    max-width: 25rem;
    margin-inline: auto;
    transform: translateY(-4em);
    padding: 1em;
}

.page {
    background-color: var(--neutral-clr-white);
    padding: 1.5rem;
    padding-top: 2rem;
    border-radius: 10px;
}

.plan {
    border: 1px solid var(--neutral-clr-purple-200);
    border-radius: 5px;
    padding: 1em;
    padding-right: 3em;
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    flex-shrink: 0;
    flex-grow: 1;
}

.plan p {
    color: var(--primary-clr-blue-950);
    font-weight: 700;
    margin-bottom: .2em;
}

.plan p + span {
    color: var(--neutral-clr-grey-500);
}

.plan .gift-desc {
    font-weight: 400;
    margin-top: .3em;
}

.toggle {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: var(--neutral-clr-grey-500);
    margin-top: 3em;
}

.toggle-bar {
    background-color: var(--primary-clr-blue-950);
    padding: 5px;
    border-radius: 2em;
    width: 3em;
    cursor: pointer;
    display: flex;
}

.toggle-bar::after {
    content: '';
    display: block;
    background-color: var(--neutral-clr-white);
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.toggled::after {
    margin-left: auto;
}

.active {
    color: var(--primary-clr-blue-950);
    font-weight: 700;
}

.action-btns {
    display: flex;
    margin-top: 4em;
}

.action-btns button {
    color: var(--neutral-clr-grey-500);
    cursor: pointer;
}

.active-plan {
    border-color: var(--primary-clr-blue-950);
    background-color: var(--neutral-clr-blue-50);
}

button.cta-btn {
    margin-left: auto;
    display: block;
    background-color: var(--primary-clr-blue-950);
    color: var(--neutral-clr-white);
    padding: .8em 1.3em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addon {
    display: flex;
    gap: 1em;
    align-items: center;
    border: 1px solid var(--neutral-clr-purple-200);
    border-radius: 10px;
    padding: 1em;
    padding-right: 2em;
    padding-block: 1.5em;
    margin-bottom: 1em;
}

.active-addon {
    border-color: var(--primary-clr-blue-950);
    background-color: var(--neutral-clr-blue-100);
}

.content {
    margin-right: auto;
    padding-right: 5em;
}

.title {
    color: var(--primary-clr-blue-950);
    margin-bottom: .3em;
}

.content p {
    color: var(--neutral-clr-grey-500);
}

.addon input {
    margin-inline: 1em;
    color: blue;
}

.addon .price {
    color: var(--primary-clr-purple-600);
}

.action-btns {
    margin-top: 3em;
}

.wrapper {
    background-color: var(--neutral-clr-blue-100);
    border-radius: 10px;
    padding: 1.5em;
}

.plan-title {
    color: var(--primary-clr-blue-950);
    font-weight: 700;
    font-size: large;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--neutral-clr-purple-200);
}

.change-plan-btn {
    color: var(--neutral-clr-grey-500);
    font: inherit;
    text-decoration: underline;
    margin-top: .2em;
    cursor: pointer;
}

.plan-price {
    color: var(--primary-clr-blue-950);
    font-weight: 700;
}

.addon-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.addon-info p {
    color: var(--neutral-clr-grey-500);
}

p.addon-price {
    color: var(--primary-clr-blue-950);
}

.bottom-banner {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    color: var(--neutral-clr-grey-500);
}

.total-price {
    color: var(--primary-clr-purple-600);
    font-weight: 700;
}

.page.confirmation .icon-img {
    margin-bottom: 1em;
}

.page.confirmation {
    text-align: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: var(--neutral-clr-purple-200);
        min-height: 100vh;
        display: grid;
        align-items: center;
    }

    .page {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .left-side {
        background-image: url(../public/images/bg-sidebar-desktop.svg);
        background-position: 80%;
        background-size: cover;
        border-radius: 5px;
        width: 20em;
        color: var(--neutral-clr-white);
        padding-inline: 2em;
        padding-block: 3em;
        display: block;
        height: auto;
        flex-shrink: 0;
    }

    .step {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 2em;
    }

    .step-info {
        display: block;
    }

    .step-info p {
        text-transform: uppercase;
        color: var(--neutral-clr-purple-200);
        font-size: small;
    }

    .step-info h4 {
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-top: .2em;
    }

    .right-side {
        padding-top: 3em;
        padding-inline: 3em;
        width: 100%;
        transform: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        background-color: var(--neutral-clr-white);
        padding: 1em;
        padding-right: 0;
        border-radius: 5px;
        max-width: 1024px;
        margin-inline: auto;
        width: 100%;
        height: 90vh;
    }

    .action-btns {
        position: static;
        margin-top: auto;
    }

    .plans-list {
        display: flex;
        gap: 1em;
    }

    .plan {
        display: block;
    }

    .avatar-img {
        margin-bottom: 3em;
    }
}