@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-clr-blue-950: hsl(213, 96%, 18%);
    --primary-clr-purple-600: hsl(243, 100%, 62%);
    --primary-clr-blue-300: hsl(228, 100%, 84%);
    --primary-clr-blue-200: hsl(206, 94%, 87%);
    --primary-clr-red-500: hsl(354, 84%, 57%);
    --neutral-clr-grey-500: hsl(231, 11%, 63%);
    --neutral-clr-purple-200: hsl(229, 24%, 87%);
    --neutral-clr-blue-100: hsl(218, 100%, 97%);
    --neutral-clr-blue-50: hsl(231, 100%, 99%);
    --neutral-clr-white: hsl(0, 100%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--neutral-clr-purple-200);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

input {
    font: inherit;
    display: block;
    margin-bottom: 1em;
    margin-top: .5em;
    padding: .7em;
    padding-right: 0;
    width: 100%;
    outline: none;
    border: 1px solid var(--neutral-clr-purple-200);
    border-radius: 5px;
    font-weight: 500;
}

h1 + p {
    margin-bottom: 2em;
    margin-top: 1em;
    color: var(--neutral-clr-grey-500);
}

.left-side {
    background-image: url(../public/images/bg-sidebar-desktop.svg);
    background-position: bottom;
    background-size: cover;
    border-radius: 5px;
    width: 20em;
    color: var(--neutral-clr-white);
    padding-inline: 2em;
    padding-block: 3em;
}

.step {
    display: flex;
    align-items: center;
    gap: 1em;
}

.active-step {
    background-color: var(--neutral-clr-white);
    color: var(--primary-clr-blue-950);
}

.step-info p {
    text-transform: uppercase;
    color: var(--neutral-clr-purple-200);
    font-size: small;
}

.step-info h4 {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: .2em;
}

.step-number {
    border: 1px solid var(--neutral-clr-white);
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 1;
    display: grid;
    place-content: center;
}

.right-side {
    padding-inline: 5em;
    padding-top: 3em;
}

.container {
    display: flex;
    background-color: var(--neutral-clr-white);
    padding: 1em;
    border-radius: 5px;
    max-width: 1024px;
    width: 100%;
}

.cta-btn {
    margin-left: auto;
    display: block;
    margin-top: 8em;
    background-color: var(--primary-clr-blue-950);
    color: var(--neutral-clr-white);
    padding: .8em 1.3em;
    outline: none;
    border: none;
    border-radius: 5px;
}