@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    -primary-clr-blue-950: hsl(213, 96%, 18%);
    -primary-clr-purple-600: hsl(243, 100%, 62%);
    -primary-clr-blue-300: hsl(228, 100%, 84%);
    -primary-clr-blue-200: hsl(206, 94%, 87%);
    -primary-clr-red-500: hsl(354, 84%, 57%);
    -neutral-clr-grey-500: hsl(231, 11%, 63%);
    -neutral-clr-purple-200: hsl(229, 24%, 87%);
    -neutral-clr-blue-100: hsl(218, 100%, 97%);
    -neutral-clr-blue-50: hsl(231, 100%, 99%);
    -neutral-clr-white: hsl(0, 100%, 100%);
}

body {
    font-family: 'Ubuntu';
}